@* Author: *@
@* Souvik Das  *@
@* Assistant Programmer, BCC *@
@* BSc in CSE, BUET *@
@* PhD Candidate in CS, Texas A&M University *@
 
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/CreateProject.js" defer></script>
@{
    ViewData["Title"] = Model.ProjectId == 0 ? "Create Project" : "Edit Project";
    var isPd = User.IsInRole("PD");
    var isEd = User.IsInRole("ED");
    var isSec = User.IsInRole("Sec");
    var isEditable = isPd && (Model.Status == "DraftPD" || Model.Status == "SentBackToPD");
    var remark = ViewData["Remark"] as _G_PostProjectRemark ?? new _G_PostProjectRemark();
}
<html>
    <head>
        <title>PROJECT COMPLETION REPORT (PCR)</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/CreateProject.css" asp-append-version="true">
        

    </head>
    <body class="w3-theme-l5">
        <input type="hidden" id="projectId" value="@Model.ProjectId" />
        <div class="w3-container w3-margin-top">
            <div class="w3-row">

                <!-- Right Section -->
                <div class="w3-col m12 w3-padding-small">


                    <!-- Title -->
                    <div class="w3-card w3-round w3-white w3-padding-small w3-center">
                        <br />
                        <h4>
                            <b>
                                Government of the People’s Republic of Bangladesh
                                <br />
                                Ministry of planning
                                <br />
                                <u>Implementation Monitoring and Evaluation Division</u>
                            </b>
                        </h4>
                        <br />
                        <h4>
                            <b>
                                <u>PROJECT COMPLETION REPORT (PCR): IMED 04/2024 (Revised)</u>
                            </b>
                        </h4>
                        <br />
                    </div>

                    <br />

                    <!-- A PROJECT DESCRIPTION -->
                    <button onclick="pcrForm.unHideSubMenu('SecA')" class="w3-button w3-block w3-theme-l1 w3-left-align"><span class="w3-border w3-padding-small">A</span> PROJECT DESCRIPTION <small class="w3-right">Click to Open/Close</small></button>
                    <div id="SecA" class="w3-card w3-round w3-white w3-padding w3-hide">
                        <h4 class="w3-center">
                            <b>
                                A. <u>PROJECT DESCRIPTION</u>
                            </b>
                        </h4>
                        <div class="w3-responsive">
                            <table class="w3-table-all w3-hoverable">
                                <tr>
                                    <td><b>01.</b></td>
                                    <td><b>Name of the Project</b></td>
                                    <td>:</td>
                                    <td><input id="secA_ProjectName" name="secA_ProjectName" class="w3-input w3-border w3-round-large" type="text"></td>
                                </tr>
                                <tr>
                                    <td><b>02.</b></td>
                                    <td><b>Administrative Ministry/Division</b></td>
                                    <td>:</td>
                                <td><input id="secA_MinistryDivision" name="secA_MinistryDivision" class="w3-input w3-border w3-round-large" type="text"></td>
                                </tr>
                                <tr>
                                    <td><b>03.</b></td>
                                    <td><b>Executing Agency</b></td>
                                    <td>:</td>
                                    <td><input id="secA_Agency" name="secA_Agency" class="w3-input w3-border w3-round-large" type="text"></td>
                                </tr>
                                <tr>
                                    <td><b>04.</b></td>
                                    <td><b>Planning Commission Sector/Division</b></td>
                                    <td>:</td>
                                    <td><input id="secA_PlanningSector" name="secA_PlanningSector" class="w3-input w3-border w3-round-large" type="text"></td>              
                                </tr>
                                <tr>
                                    <td><b>05.</b></td>
                                    <td><b>Type of Project</b></td>
                                    <td>:</td>
                                    <td>
                                        <select id="secA_ProjectType" name="secA_ProjectType" class="w3-select">
                                            <option value="N/A" disabled selected>Choose your option</option>
                                            <option value="Investment">Investment</option>
                                            <option value="Technical">Technical</option>
                                            <option value="Feasibility Study">Feasibility Study</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <table id="secA_LocationTable" class="w3-table-all w3-hoverable">
                                <tr>
                                    <td><b>06.</b></td>
                                    <td colspan="2"><b>Location of the Project (As per Project Document):</b></td>
                                    <td>
                                        <button onclick="pcrForm.secA_LocationTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secA_LocationTable',2);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sl. No</td>
                                    <td>Division</td>
                                    <td>District</td>
                                    <td>City Corporation/Municipality/Upazila</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <table id="secA_EtimatedCostTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td><b>07.</b></td>
                                    <td colspan="5"><b>Estimated Cost, Implementation Period and Approval (In Lakh Taka):</b></td>
                                    <td colspan="2">
                                        <button onclick="pcrForm.secA_EtimatedCostTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secA_EtimatedCostTable',4);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Subject</td>
                                    <td colspan="4">Approved Estimated Cost</td>
                                    <td rowspan="2">Implementation Period</td>
                                    <td rowspan="2">Date of Approval</td>
                                    <td rowspan="2">Approved By</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>GOB<br />(Foreign Exchange)</td>
                                    <td>PA<br />(RPA)</td>
                                    <td>Self-finance</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                    <td>(8)</td>
                                </tr>
                            </table>
                        </div>

                        <br />


                        <div id="secA_ObjectiveDiv">
                            <b>08. Objective of the Project</b>
                            <div class="w3-border w3-padding">
                                Overall objective:
                                <textarea id="secA_OverallObjective" class="w3-input w3-border"></textarea>
                                <br />
                                Specific Objectives (single line for each point):
                                <textarea id="secA_SpecificObjectives" class="w3-input w3-border"></textarea>
                            </div>
                        </div>

                        <br />

                        <div>
                            <b>09. Background of the Project (In brief):</b>
                            <textarea id="secA_ProjectBackground" class="w3-input w3-border"></textarea>
                        </div>

                        <br />

                        <div>
                            <b>10. Major Activities:</b>
                            <textarea id="secA_MajorActivities" class="w3-input w3-border"></textarea>
                        </div>

                        <br />

                        <div>
                            <b>11. Reasons for Revision (if applicable):</b>
                            <textarea id="secA_RevisionReason" class="w3-input w3-border">1st Revision:&#13;&#10;2nd Revision:</textarea>
                        </div>

                        <br />

                        <div>
                            <b>11.1 Reasons for No-Cost Time Extension (if applicable):</b>
                            <textarea id="secA_NoCostRevisionReason" class="w3-input w3-border">1st time No-Cost Time Extension:&#13;&#10;2nd time No-Cost Time Extension:</textarea>
                        </div>

                        <br />

                        <div id="secA_FinancialAgreement"><b>12. Financing Arrangement (Source-wise):</b></div>

                        <div><b>12.1 Status of Loan/Grant</b></div>

                        <div class="w3-responsive">
                            <table id="secA_LoanStatus_ForeignTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td>a)</td>
                                    <td colspan="4">Foreign Financing:</td>
                                    <td colspan="3">
                                        <button onclick="pcrForm.secA_LoanStatus_ForeignTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secA_LoanStatus_ForeignTable',4);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Source(s)</td>
                                    <td rowspan="2">Currency as per Agreement</td>
                                    <td rowspan="2">Amount in US$ (million)</td>
                                    <td rowspan="2">Nature</td>
                                    <td rowspan="2">Date of Agreement</td>
                                    <td rowspan="2">Date of Effectiveness</td>
                                    <td colspan="2">Date of Closing</td>
                                </tr>
                                <tr>
                                    <td>Original</td>
                                    <td>Revised</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                    <td>(8)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <table id="secA_LoanStatus_GobTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td>b)</td>
                                    <td colspan="2">GOB:</td>
                                    <td>
                                        <button onclick="pcrForm.secA_LoanStatus_GobTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secA_LoanStatus_GobTable',3);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total amount</td>
                                    <td>Loan</td>
                                    <td>Grant</td>
                                    <td>Cash Foreign Exchange</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <table id="secA_LoanStatus_SelfTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td>c)</td>
                                    <td colspan="2">Self-finance/Equity:</td>
                                    <td>
                                        <button onclick="pcrForm.secA_LoanStatus_SelfTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secA_LoanStatus_SelfTable',3);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total amount</td>
                                    <td>Self-finance</td>
                                    <td>Equity</td>
                                    <td>Cash Foreign Exchange</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>12.2 Utilization of Project Aid (Source wise):</b>
                            <table id="secA_UtilizationTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td colspan="4">&nbsp;</td>
                                    <td colspan="3">
                                        <button onclick="pcrForm.secA_UtilizationTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secA_UtilizationTable',4);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Source (s)</td>
                                    <td colspan="2">Total Amount</td>
                                    <td colspan="2">Actual Expenditure</td>
                                    <td colspan="2">Unutilized Amount</td>
                                </tr>
                                <tr>
                                    <td>In Us$</td>
                                    <td>In Local Currency</td>
                                    <td>In Us$</td>
                                    <td>In Local Currency</td>
                                    <td>In Us$</td>
                                    <td>In Local Currency</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>12.3 Reimbursable project Aid (RPA):</b>
                            <table id="secA_RpaTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td colspan="4">&nbsp;</td>
                                    <td colspan="3">
                                        <button onclick="pcrForm.secA_RpaTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secA_RpaTable',4);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Source (s)</td>
                                    <td colspan="2">RPA Amount</td>
                                    <td>Amount</td>
                                    <td>Amount</td>
                                    <td>Amount</td>
                                    <td rowspan="2">Remarks</td>
                                </tr>
                                <tr>
                                    <td>As per Project Document</td>
                                    <td>As per Agreement</td>
                                    <td>Spent</td>
                                    <td>Claimed</td>
                                    <td>Re-imbursed</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                    </div>

                    <br />


                    <!-- B IMPLEMENTATION POSITION -->
                    <button onclick="pcrForm.unHideSubMenu('SecB')" class="w3-button w3-block w3-theme-l1 w3-left-align"><span class="w3-border w3-padding-small">B</span> IMPLEMENTATION POSITION <small class="w3-right">Click to Open/Close</small></button>
                    <div id="SecB" class="w3-card w3-round w3-white w3-padding-small w3-hide">
                        <h4 class="w3-center">
                            <b>
                                B. <u>IMPLEMENTATION POSITION</u>
                            </b>
                        </h4>

                        <div class="w3-responsive">
                            <b>13. Implementation Period:</b>
                            <table id="secB_ImplPeriodTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                    <td colspan="3">
                                        <button onclick="pcrForm.secB_ImplPeriodTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secB_ImplPeriodTable',4);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Implementation Period as per Project Document</td>
                                    <td rowspan="2">Actual implementation</td>
                                    <td rowspan="2">Time Over-run (% of original implementation period</td>
                                    <td rowspan="2">Remarks</td>
                                </tr>
                                <tr>
                                    <td>Original</td>
                                    <td>Latest Revised</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>14. Cost of the Project:</b>
                            <table id="secB_PrjCostTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                    <td colspan="4">
                                        <button onclick="pcrForm.secB_PrjCostTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secB_PrjCostTable',4);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Description</td>
                                    <td colspan="2">Estimated Cost</td>
                                    <td rowspan="2">Actual expenditure</td>
                                    <td rowspan="2">Cost over-run (% of original cost)</td>
                                    <td rowspan="2">Remarks</td>
                                </tr>
                                <tr>
                                    <td>Original</td>
                                    <td>Latest Revised</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>15. Information regarding Project Director (s):</b>
                            <table id="secB_PdInfoTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                    <td colspan="5">
                                        <button onclick="pcrForm.secB_PdInfoTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secB_PdInfoTable',4);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Name, Main Designation & Grade. Mobile Number (From Beginning)</td>
                                    <td rowspan="2">Full time</td>
                                    <td rowspan="2">Part time</td>
                                    <td rowspan="2">Responsible for more than one project</td>
                                    <td colspan="2">Period</td>
                                    <td rowspan="2">Remarks</td>
                                </tr>
                                <tr>
                                    <td>Joining</td>
                                    <td>Transfer</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div><b>16. Personnel</b></div>

                        <div class="w3-responsive">
                            <table id="secB_PiuTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td><b>16.1</b></td>
                                    <td colspan="2"><b>Personnel of Project implementation Unit (PIU):</b></td>
                                    <td colspan="1">
                                        <button onclick="pcrForm.secB_PiuTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secB_PiuTable',3,1);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sl. No</td>
                                    <td>Name of Post (Grade)</td>
                                    <td>Approved Strength</td>
                                    <td>Employed during Implementation </td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td><input class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <table id="secB_PerReqAftComTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td><b>16.2</b></td>
                                    <td colspan="3"><b>Personnel Required after the Project Completion:</b></td>
                                    <td colspan="1">
                                        <button onclick="pcrForm.secB_PerReqAftComTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secB_PerReqAftComTable',4,1);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Sl. No</td>
                                    <td colspan="2">As Proposed in Project Document (PD)</td>
                                    <td rowspan="2">Recruited (Yes/No)</td>
                                    <td rowspan="2">If not recruited explain reason and latest stats</td>
                                </tr>
                                <tr>
                                    <td>Name of Post</td>
                                    <td>Number</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td><input class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>17. Training (Foreign/Local):</b>
                            <table id="secB_TrainingTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td></td>
                                    <td colspan="4"></td>
                                    <td colspan="3">
                                        <button onclick="pcrForm.secB_TrainingTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secB_TrainingTable',5,3);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="3">Category</td>
                                    <td rowspan="3">Sl. No</td>
                                    <td colspan="6">No. of Days/Weeks/Months (D/W/M), Batch & Participants</td>
                                </tr>
                                <tr>
                                    <td colspan="3">As in Project Document</td>
                                    <td colspan="3">Achievement</td>
                                </tr>
                                <tr>
                                    <td>D/W/M</td>
                                    <td>Batch (s)</td>
                                    <td>Participants(s)</td>
                                    <td>D/W/M</td>
                                    <td>Batch (s)</td>
                                    <td>Participants(s)</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                    <td>(8)</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Sub-total (Local Training)</td>
                                    <td><input id="subTotalLocal_DWMAsInPD" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalLocal_BatchAsInPD" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalLocal_ParticipantAsInPD" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalLocal_DWMAchievement" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalLocal_BatchAchievement" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalLocal_ParticipantAchievement" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Sub-total (Foreign Training)</td>
                                    <td><input id="subTotalForeign_DWMAsInPD" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalForeign_BatchAsInPD" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalForeign_ParticipantAsInPD" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalForeign_DWMAchievement" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalForeign_BatchAchievement" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalForeign_ParticipantAchievement" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Total (Local + Foreign)</td>
                                    <td><input id="totalLocalForeign_DWMAsInPD" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalLocalForeign_BatchAsInPD" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalLocalForeign_ParticipantAsInPD" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalLocalForeign_DWMAchievement" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalLocalForeign_BatchAchievement" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalLocalForeign_ParticipantAchievement" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                </tr>
                            </table>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(PD= Project Document)
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>18. Component-wise Progress (As per latest approved Project Document):</b>
                            <table id="secB_CompWiseProgressTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td></td>
                                    <td colspan="6"></td>
                                    <td colspan="7">
                                        <button onclick="pcrForm.secB_CompWiseProgressTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secB_CompWiseProgressTable',4,3);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Category</td>
                                    <td rowspan="2">Name of Component</td>
                                    <td rowspan="2">Unit</td>
                                    <td rowspan="2">Quantity</td>
                                    <td colspan="5">Estimated Cost (Taka in Lac)</td>
                                    <td colspan="5">Actual Progress (Taka in Lac)</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>GOB</td>
                                    <td>PA</td>
                                    <td>Self-finance</td>
                                    <td>Others</td>
                                    <td>Total</td>
                                    <td>GOB</td>
                                    <td>PA</td>
                                    <td>Self-finance</td>
                                    <td>Others</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                    <td>(8)</td>
                                    <td>(9)</td>
                                    <td>(10)</td>
                                    <td>(11)</td>
                                    <td>(12)</td>
                                    <td>(13)</td>
                                    <td>(14)</td>
                                </tr>
                                <tr>
                                    <td colspan="4">Sub-total (Revenue)</td>
                                    <td><input id="subTotalRevenue_EstimatedTotal" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalRevenue_EstimatedGOB" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalRevenue_EstimatedPA" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalRevenue_EstimatedSelfFinance" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalRevenue_EstimatedOthers" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalRevenue_ActualTotal" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalRevenue_ActualGOB" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalRevenue_ActualPA" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalRevenue_ActualSelfFinance" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalRevenue_ActualOthers" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                </tr>
                                <tr>
                                    <td colspan="4">Sub-total (Capital)</td>
                                    <td><input id="subTotalCapital_EstimatedTotal" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalCapital_EstimatedGOB" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalCapital_EstimatedPA" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalCapital_EstimatedSelfFinance" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalCapital_EstimatedOthers" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalCapital_ActualTotal" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalCapital_ActualGOB" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalCapital_ActualPA" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalCapital_ActualSelfFinance" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="subTotalCapital_ActualOthers" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                </tr>
                                <tr>
                                    <td colspan="4">Total (Revenue + Capital)</td>
                                    <td><input id="totalRevenueCapital_EstimatedTotal" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalRevenueCapital_EstimatedGOB" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalRevenueCapital_EstimatedPA" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalRevenueCapital_EstimatedSelfFinance" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalRevenueCapital_EstimatedOthers" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalRevenueCapital_ActualTotal" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalRevenueCapital_ActualGOB" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalRevenueCapital_ActualPA" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalRevenueCapital_ActualSelfFinance" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                    <td><input id="totalRevenueCapital_ActualOthers" class="w3-input w3-border w3-round-large" type="text" value=""></td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>19. Procurement of Transport (in Nos.) :</b>
                            <table id="secB_ProcureTransportTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td></td>
                                    <td colspan="3"></td>
                                    <td colspan="4">
                                        <button onclick="pcrForm.secB_ProcureTransportTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secB_ProcureTransportTable',3,0);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Type of transport</td>
                                    <td>Number as per Project Document</td>
                                    <td>Number Procured with date</td>
                                    <td>Transferred to Transport Pool with Date</td>
                                    <td>Transferred to O & M with date</td>
                                    <td>Condemned/damaged with date</td>
                                    <td>Returned or transferred to following project</td>
                                    <td>Remarks</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                    <td>(8)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>20. Project Consultant (s) (Local/Foreign):</b>
                            <table id="secB_PrjConsultantTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td></td>
                                    <td colspan="3"></td>
                                    <td colspan="4">
                                        <button onclick="pcrForm.secB_PrjConsultantTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secB_PrjConsultantTable',4,0);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Category</td>
                                    <td rowspan="2">Name of the Field</td>
                                    <td colspan="2">Approved man month</td>
                                    <td rowspan="2">Actual man month utilized</td>
                                    <td colspan="2">Number of Deliverables</td>
                                    <td rowspan="2">Remarks</td>
                                </tr>
                                <tr>
                                    <td>As per Project Document</td>
                                    <td>As per contract</td>
                                    <td>As per Project Document</td>
                                    <td>Actual</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                    <td>(8)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>21. Infrastructure/Erection/Installation Tools & Equipment:</b>
                            <table id="secB_ToolsEquipTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td></td>
                                    <td colspan="3"></td>
                                    <td colspan="4">
                                        <button onclick="pcrForm.secB_ToolsEquipTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secB_ToolsEquipTable',3,0);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>Quantity (as per project document)</td>
                                    <td>Quantity Procured with date</td>
                                    <td>Transferred to O & M with date</td>
                                    <td>Disposed-off as per rule with date</td>
                                    <td>Balance</td>
                                    <td>Remarks</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>22. Procurement of Goods, Works and Services:</b>
                            @* <textarea class="w3-input w3-border w3-round-large"></textarea> *@
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>22.1 Information on packages:</b>
                            <ol type="a">
                            <li>Total number of packages as per Project Document: <input id="totalPackagesAsPerPD" type="text"> (Goods- <input id="goodsAsPerPD" type="text"> Works- <input id="worksAsPerPD" type="text"> Services- <input id="servicesAsPerPD" type="text">)</li>
                            <li>Total number of packages procured: <input id="totalPackagesProcured" type="text"> (Goods- <input id="goodsProcured" type="text"> Works- <input id="worksProcured" type="text"> Services- <input id="servicesProcured" type="text">)</li>
                            <li>Reason for not procuring (if any): <textarea id="reasonForNotProcuring" class="w3-input w3-border w3-round-large"></textarea></li>
                            <li>Number of packages for which the estimated cost is more than 1% of the estimated cost of the project: <input id="totalPackagesMoreThanOnePct" type="text"> (Goods- <input id="goodsMoreThanOnePct" type="text"> Works- <input id="worksMoreThanOnePct" type="text"> Services- <input id="servicesMoreThanOnePct" type="text">)</li>
                            </ol>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>22.2 Detailed Package-wise information of Goods, Works and Services (For each case the highest 50 (fifty) packages) (Please use the format as in Annexure-l (a), l(b) and l(c))</b>
                        </div>

                        <br />

                    </div>

                    <br />

                    <!-- C. FINANCIAL AND PHYSICAL TARGET AND PROGRESS -->
                    <button onclick="pcrForm.unHideSubMenu('SecC')" class="w3-button w3-block w3-theme-l1 w3-left-align"><span class="w3-border w3-padding-small">C</span> FINANCIAL AND PHYSICAL TARGET AND PROGRESS <small class="w3-right">Click to Open/Close</small></button>
                    <div id="SecC" class="w3-card w3-round w3-white w3-padding-small w3-hide">
                        <h4 class="w3-center">
                            <b>
                                C. <u>FINANCIAL AND PHYSICAL TARGET AND PROGRESS</u>
                            </b>
                        </h4>

                        <div class="w3-responsive">
                            <b>23. Original and Revised Financial Provision and physical Target (as per Project Document):</b>
                            <table id="secC_FinProvPhyTgtTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td></td>
                                    <td colspan="6"></td>
                                    <td colspan="6">
                                        <button onclick="pcrForm.secC_FinProvPhyTgtTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secC_FinProvPhyTgtTable',4,0);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Financial Year</td>
                                    <td colspan="6">Financial provision & physical target as per original Project Document</td>
                                    <td colspan="6">Financial provision & physical target as per latest revised Project Document</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>GOB</td>
                                    <td>P.A.</td>
                                    <td>Self-finance</td>
                                    <td>Others</td>
                                    <td>Physical %</td>
                                    <td>Total</td>
                                    <td>GOB</td>
                                    <td>P.A.</td>
                                    <td>Self-finance</td>
                                    <td>Others</td>
                                    <td>Physical %</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                    <td>(8)</td>
                                    <td>(9)</td>
                                    <td>(10)</td>
                                    <td>(11)</td>
                                    <td>(12)</td>
                                    <td>(13)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>24. Revised ADP allocation and progress:</b>
                            <table id="secC_RevAdpTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td></td>
                                    <td colspan="7"></td>
                                    <td colspan="7">
                                        <button onclick="pcrForm.secC_RevAdpTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secC_RevAdpTable',4,0);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Financial Year</td>
                                    <td colspan="6">Revised Allocation & target</td>
                                    <td rowspan="2">GOB Release</td>
                                    <td colspan="6">Expenditure & physical progress</td>
                                    <td rowspan="2">Unspent* GoB Released</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>GOB</td>
                                    <td>P.A.</td>
                                    <td>Self-finance</td>
                                    <td>Others</td>
                                    <td>Physical %</td>
                                    <td>Total</td>
                                    <td>GOB</td>
                                    <td>P.A.</td>
                                    <td>Self-finance</td>
                                    <td>Others</td>
                                    <td>Physical %</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                    <td>(6)</td>
                                    <td>(7)</td>
                                    <td>(8)</td>
                                    <td>(9)</td>
                                    <td>(10)</td>
                                    <td>(11)</td>
                                    <td>(12)</td>
                                    <td>(13)</td>
                                    <td>(14)</td>
                                    <td>(15)= 8-10</td>
                                </tr>
                            </table>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Attach the Proof for Reconciliation of Unspent GOB Released<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;** To determine the physical quantity, use the formula as in the circular of Planning Division
                        </div>

                        <br />



                    </div>

                    <br />

                    <!-- D. ACHIEVEMENT OF OBJECTIVES OF THE PROJECT -->
                    <button onclick="pcrForm.unHideSubMenu('SecD')" class="w3-button w3-block w3-theme-l1 w3-left-align"><span class="w3-border w3-padding-small">D</span> ACHIEVEMENT OF OBJECTIVES OF THE PROJECT <small class="w3-right">Click to Open/Close</small></button>
                    <div id="SecD" class="w3-card w3-round w3-white w3-padding-small w3-hide">
                        <h4 class="w3-center">
                            <b>
                                D. <u>ACHIEVEMENT OF OBJECTIVES OF THE PROJECT</u>
                            </b>
                        </h4>

                        <div class="w3-responsive">
                            <b>25. Project objective, Actual achievement and Reason for shortfall (if any)::</b>
                            <table id="secD_PrjAchievementTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td></td>
                                    <td colspan="1"></td>
                                    <td colspan="2">
                                        <button onclick="pcrForm.secD_PrjAchievementTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secD_PrjAchievementTable',2,0);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sl. No.</td>
                                    <td>Objectives as per Project Document</td>
                                    <td>Actual achievement</td>
                                    <td>Reasons for shortfall (if any)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                    </div>

                    <br />

                    <!-- E. BENEFIT ANALYSIS -->
                    <button onclick="pcrForm.unHideSubMenu('SecE')" class="w3-button w3-block w3-theme-l1 w3-left-align"><span class="w3-border w3-padding-small">E</span> BENEFIT ANALYSIS <small class="w3-right">Click to Open/Close</small></button>
                    <div id="SecE" class="w3-card w3-round w3-white w3-padding-small w3-hide">
                        <h4 class="w3-center">
                            <b>
                                E. <u>BENEFIT ANALYSIS</u>
                            </b>
                        </h4>

                        <div class="w3-responsive">
                            <b>26. Annual Out-put:</b>
                            <table id="secE_AnnOutTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td></td>
                                    <td colspan="3"></td>
                                    <td>
                                        <button onclick="pcrForm.secE_AnnOutTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secE_AnnOutTable',2,0);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sl. No.</td>
                                    <td>Items of out-put</td>
                                    <td>Unit</td>
                                    <td> Estimated quantity expected at full capacity</td>
                                    <td>Actual quantity of out-put during the 1st year of operation at full capacity (or during, real production for newly completed project)</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>27. Cost/Benefit:</b>
                            <table id="secE_CostBenifitTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2">
                                        <button onclick="pcrForm.secE_CostBenifitTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secE_CostBenifitTable',2,0);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td>Item</td>
                                    <td>Estimated</td>
                                    <td>Actual</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>28. Please give reasons for shortfall, if any, between the estimated and actual benefit:</b>
                        <textarea id="_28ReasonsForShortFall" class="w3-input w3-border w3-round-large"></textarea>
                        </div>

                        <br />

                    </div>

                    <br />

                    <!-- F. MONITORING AND AUDITING -->
                    <button onclick="pcrForm.unHideSubMenu('SecF')" class="w3-button w3-block w3-theme-l1 w3-left-align"><span class="w3-border w3-padding-small">F</span> MONITORING AND AUDITING <small class="w3-right">Click to Open/Close</small></button>
                    <div id="SecF" class="w3-card w3-round w3-white w3-padding-small w3-hide">
                        <h4 class="w3-center">
                            <b>
                                F. <u>MONITORING AND AUDITING</u>
                            </b>
                        </h4>

                        <div class="w3-responsive">
                            <b>29. Monitoring:</b>
                            <table id="secF_MonitorTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td></td>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <button onclick="pcrForm.secF_MonitorTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secF_MonitorTable',2,0);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td>Name & Designation of the inspecting official</td>
                                    <td>Date</td>
                                    <td>Identified Problems</td>
                                    <td>Recommendations</td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>30. Auditing during and after Implementation:</b>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <table id="secF_IntAuditTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td><b>30.1</b></td>
                                    <td colspan="2"><b>Internal Audit:</b></td>
                                    <td colspan="2">
                                        <button onclick="pcrForm.secF_IntAuditTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secF_IntAuditTable',3,1);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sl. No.</td>
                                    <td>Period of Audit</td>
                                    <td>Date of submission of Audit Report</td>
                                    <td>Major findings/objections and Money involved</td>
                                    <td>Whether objections resolved or not (if not, mention status)</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Total findings/objections and Money involved=</td>
                                <td><textarea id="internalMajorFindings" class="w3-input w3-border w3-round-large"></textarea></td>
                                <td><textarea id="internalWhetherResolved" class="w3-input w3-border w3-round-large"></textarea></td>
                                </tr>
                            </table>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <table id="secF_ExtAuditTable" class="tbl_bordered w3-centered">
                                <tr>
                                    <td><b>30.2</b></td>
                                    <td colspan="2"><b>External Audit:</b></td>
                                    <td colspan="2">
                                        <button onclick="pcrForm.secF_ExtAuditTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                        <button onclick="pcrForm.removeTableLastRow('secF_ExtAuditTable',3,1);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sl. No.</td>
                                    <td>Period of Audit</td>
                                    <td>Date of submission of Audit Report</td>
                                    <td>Major findings/objections and Money involved</td>
                                    <td>Whether objections resolved or not (if not, mention status)</td>
                                </tr>
                                <tr>
                                    <td>(1)</td>
                                    <td>(2)</td>
                                    <td>(3)</td>
                                    <td>(4)</td>
                                    <td>(5)</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Total findings/objections and Money involved=</td>
                                    <td><textarea id="totalExternalMajorFindings" class="w3-input w3-border w3-round-large"></textarea></td>
                                    <td><textarea id="totalExternalWhetherResolved" class="w3-input w3-border w3-round-large"></textarea></td>
                            </tr>
                            </table>
                        </div>

                        <br />

                    </div>

                    <br />

                    <!-- G. POST-PROJECT REMARKS -->
                    <button onclick="pcrForm.unHideSubMenu('SecG')" class="w3-button w3-block w3-theme-l1 w3-left-align"><span class="w3-border w3-padding-small">G</span> POST-PROJECT REMARKS <small class="w3-right">Click to Open/Close</small></button>
                    <div id="SecG" class="w3-card w3-round w3-white w3-padding-small w3-hide">
                        <h4 class="w3-center">
                            <b>
                                G. <u>POST-PROJECT REMARKS</u>
                            </b>
                        </h4>

                        <div class="w3-responsive">
                            <b>31. General Observations/Remarks on the Project</b>
                            <br />
                            <b>31.1 Background</b>
                            <textarea id="background" class="w3-input w3-border w3-round-large"></textarea>
                            <br />
                            <b>31.2 Justification/Adequacy</b>
                            <textarea id="justificationAdequacy" class="w3-input w3-border w3-round-large"></textarea>
                            <br />
                            <b>31.3 Objectives and</b>
                            <textarea id="objectives" class="w3-input w3-border w3-round-large"></textarea>
                            <br />
                            <b>31.4 Project revision with reasons</b>
                            <textarea id="projectRevisionWithReasons" class="w3-input w3-border w3-round-large"></textarea>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>32. Rationale of the project (Consider the following issues):</b>
                            <br />
                            <b>32.1 Concept</b>
                            <br />
                            <textarea id="concept" class="w3-input w3-border w3-round-large"></textarea>
                            <b>32.2 Design</b>
                            <br />
                            <textarea id="design" class="w3-input w3-border w3-round-large"></textarea>
                            <b>32.3 Location and</b>
                            <br />
                            <textarea id="location" class="w3-input w3-border w3-round-large"></textarea>
                            <b>32.4 Timing. </b>
                            <br />
                            <textarea id="timing" class="w3-input w3-border w3-round-large"></textarea>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>33. Brief description on planning and financing of the project and its applicability (Consider the following issues):</b>
                            <br />
                            <b>33.1 Project Identification</b>
                            <br />
                            <textarea id="projectIdentification" class="w3-input w3-border w3-round-large"></textarea>
                            <b>33.2 Project Preparation</b>
                            <br />
                            <textarea id="projectPreparation" class="w3-input w3-border w3-round-large"></textarea>
                            <b>33.3 Appraisal</b>
                            <br />
                            <textarea id="appraisal" class="w3-input w3-border w3-round-large"></textarea>
                            <b>33.4 Credit Negotiation</b>
                            <br />
                            <textarea id="creditNegotiation" class="w3-input w3-border w3-round-large"></textarea>
                            <b>33.5 Credit Agreement</b>
                            <br />
                            <textarea id="creditAgreement" class="w3-input w3-border w3-round-large"></textarea>
                            <b>33.6 Credit Effectiveness</b>
                            <br />
                            <textarea id="creditEffectiveness" class="w3-input w3-border w3-round-large"></textarea>
                            <b>33.7 Loan Disbursement</b>
                            <br />
                            <textarea id="loanDisbursement" class="w3-input w3-border w3-round-large"></textarea>
                            <b>33.8 Loan Conditions</b>
                            <br />
                            <textarea id="loanConditions" class="w3-input w3-border w3-round-large"></textarea>
                            <b>33.9 Project Approval and</b>
                            <br />
                            <textarea id="projectApproval" class="w3-input w3-border w3-round-large"></textarea>
                            <b>33.10 Others(specify)</b>
                            <br />
                            <textarea id="othersSpecify" class="w3-input w3-border w3-round-large"></textarea>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>34. Analysis of the post- implementation situation and result of the project (Consider following issues):</b>
                            <br />
                            <b>34.1 Whether the beneficiaries of the project have clear knowledge about the Target/Objectives of the project.</b>
                            <br />
                            <textarea id="_34_1" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.2 Programme for use of created-facilities of the project</b>
                            <br />
                            <textarea id="_34_2" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.3 O & M Program of the project.</b>
                            <br />
                            <textarea id="_34_3" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.4 Impact of the project (Direct & Indirect)</b>
                            <br />
                            <textarea id="_34_4" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.5 Transfer of Technology and Institutional Building through the project.</b>
                            <br />
                            <textarea id="_34_5" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.6 Employment generation through the project.</b>
                            <br />
                            <textarea id="_34_6" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.7 Possibility of Self employment.</b>
                            <br />
                            <textarea id="_34_7" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.8 Possibility of Women-employment opportunity.</b>
                            <br />
                            <textarea id="_34_8" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.9 Women’s participation in development.</b>
                            <br />
                            <textarea id="_34_9" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.10 Probable Impact on Socio-Economic activity.</b>
                            <br />
                            <textarea id="_34_10" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.11 Impact on environment.</b>
                            <br />
                            <textarea id="_34_11" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.12 Sustainability of the project.</b>
                            <br />
                            <textarea id="_34_12" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.13 Contribution to poverty alleviation/reduction.</b>
                            <br />
                            <textarea id="_34_13" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.14 Opinion of the public representatives, local elite, local administration, teachers, religious leaders, women’s representatives etc.</b>
                            <br />
                            <textarea id="_34_14" class="w3-input w3-border w3-round-large"></textarea>
                            <b>34.15 Contribution of Micro-credit programs and Comments on overlapping with any NGO activities.</b>
                            <br />
                            <textarea id="_34_15" class="w3-input w3-border w3-round-large"></textarea>
                        </div>

                        <br />

                        <div class="w3-responsive">
                            <b>35. Problems encountered during Implementation (with duration & steps taken to resolve those) (Consider following issues):</b>
                            <br />
                            <b>35.1 Project management:</b>
                            <br />
                            <textarea id="_35_1" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.2 Project Director:</b>
                            <br />
                            <textarea id="_35_2" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.3 Land Acquisition:</b>
                            <br />
                            <textarea id="_35_3" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.4 Procurement:</b>
                            <br />
                            <textarea id="_35_4" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.5 Consultancy:</b>
                            <br />
                            <textarea id="_35_5" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.6 Contractor:</b>
                            <br />
                            <textarea id="_35_6" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.7 Manpower:</b>
                            <br />
                            <textarea id="_35_7" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.8 Law & Order:</b>
                            <br />
                            <textarea id="_35_8" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.9 Natural calamity:</b>
                            <br />
                            <textarea id="_35_9" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.10 Project financing:</b>
                            <br />
                            <textarea id="_35_10" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.11 Allocation and release:</b>
                            <br />
                            <textarea id="_35_11" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.12 Design formulation/approval:</b>
                            <br />
                            <textarea id="_35_12" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.13 Project aid disbursement and re-imbursement:</b>
                            <br />
                            <textarea id="_35_13" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.14 Mission of the development partners:</b>
                            <br />
                            <textarea id="_35_14" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.15 Time & Cost Over-run:</b>
                            <br />
                            <textarea id="_35_15" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.16 Project Monitoring:</b>
                            <br />
                            <textarea id="_35_16" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.17 Delay in Decision:</b>
                            <br />
                            <textarea id="_35_17" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.18 Transport, Training:</b>
                            <br />
                            <textarea id="_35_18" class="w3-input w3-border w3-round-large"></textarea>
                            <b>35.19 Approval and Others:</b>
                            <br />
                            <textarea id="_35_19" class="w3-input w3-border w3-round-large"></textarea>
                        </div>

                        <br />


                    </div>

                    <br />
                <!-- Annexure Section -->
                <button onclick="pcrForm.unHideSubMenu('SecAnnexure')" class="w3-button w3-block w3-theme-l1 w3-left-align"><span class="w3-border w3-padding-small">Annex</span> ANNEXURE <small class="w3-right">Click to Open/Close</small></button>
                <div id="SecAnnexure" class="w3-card w3-round w3-white w3-padding-small w3-hide">
                    <h4 class="w3-center">
                        <b>
                            Annexure. <u>INFORMATION RELATED TO PROCUREMENT</u>
                        </b>
                    </h4>

                    <!-- Annexure-1(a): Procurement of Goods -->
                    <div class="w3-responsive">
                        
                        <table id="annexure1a_GoodsTable" class="tbl_bordered w3-centered">
                            <tr>
                                <td colspan="5"><b>Annexure-1(a): Information Related to Procurement of Goods</b></td>
                                <td colspan="9">
                                    <button onclick="pcrForm.annexure1a_GoodsTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                    <button onclick="pcrForm.removeTableLastRow('annexure1a_GoodsTable', 4);pcrForm.removeTableLastRow('annexure1a_GoodsTable', 4);pcrForm.removeTableLastRow('annexure1a_GoodsTable', 4);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="2">As per Project Document</td>
                                <td rowspan="2">Estimated Cost (Taka in Lac)</td>
                                <td rowspan="2">Procurement Method</td>
                                <td rowspan="2">Approving Authority</td>
                                <td rowspan="2">Date of Tender Invitation</td>
                                <td rowspan="2">Name of Newspaper</td>
                                <td rowspan="2">Date of Opening</td>
                                <td rowspan="2">Date of Approval</td>
                                <td rowspan="2">Date of NOA</td>
                                <td rowspan="2">Contract Price & Date</td>
                                <td rowspan="2">Actual Payment</td>
                                <td rowspan="1" colspan="2">Date of Completion</td>
                            </tr>
                            <tr>
                                <td>Package No</td>
                                <td>Description of Package</td>
                                <td>As per Contract</td>
                                <td>Actual</td>                               
                            </tr>
                            <tr>
                                <td>(1)</td>
                                <td>(2)</td>
                                <td>(3)</td>
                                <td>(4)</td>
                                <td>(5)</td>
                                <td>(6)</td>
                                <td>(7)</td>
                                <td>(8)</td>
                                <td>(9)</td>
                                <td>(10)</td>
                                <td>(11)</td>
                                <td>(12)</td>
                                <td>(13)</td>
                                <td>(14)</td>
                            </tr>
                        </table>
                        <small>* Please mention Dates for Plan and Actual<br>* Deviation in days (difference between plan and actual)<br>* Plan as per procurement plan described in project document</small>
                    </div>

                    <br />

                    <!-- Annexure-1(b): Procurement of Works -->
                    <div class="w3-responsive">
                        
                        <table id="annexure1b_WorksTable" class="tbl_bordered w3-centered">
                            <tr>
                                <td colspan="5"><b>Annexure-1(b): Information Related to Procurement of Works</b></td>
                                <td colspan="9">
                                    <button onclick="pcrForm.annexure1b_WorksTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                    <button onclick="pcrForm.removeTableLastRow('annexure1b_WorksTable', 4);pcrForm.removeTableLastRow('annexure1b_WorksTable', 4);pcrForm.removeTableLastRow('annexure1b_WorksTable', 4);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="2">As per Project Document</td>
                                <td rowspan="2">Estimated Cost (Taka in Lac)</td>
                                <td rowspan="2">Procurement Method</td>
                                <td rowspan="2">Approving Authority</td>
                                <td rowspan="2">Date of Tender Invitation</td>
                                <td rowspan="2">Name of Newspaper</td>
                                <td rowspan="2">Date of Opening</td>
                                <td rowspan="2">Date of Approval</td>
                                <td rowspan="2">Date of NOA</td>
                                <td rowspan="2">Contract Price & Date</td>
                                <td rowspan="2">Actual Payment</td>
                                <td rowspan="1" colspan="2">Date of Completion</td>
                            </tr>
                            <tr>
                                <td>Package No</td>
                                <td>Description of Package</td>
                                <td>As per Contract</td>
                                <td>Actual</td>
                            </tr>
                            <tr>
                                <td>(1)</td>
                                <td>(2)</td>
                                <td>(3)</td>
                                <td>(4)</td>
                                <td>(5)</td>
                                <td>(6)</td>
                                <td>(7)</td>
                                <td>(8)</td>
                                <td>(9)</td>
                                <td>(10)</td>
                                <td>(11)</td>
                                <td>(12)</td>
                                <td>(13)</td>
                                <td>(14)</td>
                            </tr>
                        </table>
                        <small>* Please mention Dates for Plan and Actual<br>* Deviation in days (difference between plan and actual)<br>* Plan as per procurement plan described in project document</small>
                    </div>

                    <br />

                    <!-- Annexure-1(c): Procurement of Services -->
                    <div class="w3-responsive">
                        
                        <table id="annexure1c_ServicesTable" class="tbl_bordered w3-centered">
                            <tr>
                                <td colspan="5"><b>Annexure-1(c): Information Related to Procurement of Services</b></td>
                                <td colspan="9">
                                    <button onclick="pcrForm.annexure1c_ServicesTable_Add();" type="button" class="w3-button w3-theme"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                                    <button onclick="pcrForm.removeTableLastRow('annexure1c_ServicesTable', 4);pcrForm.removeTableLastRow('annexure1c_ServicesTable', 4);pcrForm.removeTableLastRow('annexure1c_ServicesTable', 4);" type="button" class="w3-button w3-theme"><i class="fa fa-minus" aria-hidden="true"></i> Remove Last</button>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="2">As per Project Document</td>
                                <td rowspan="2">Estimated Cost (Taka in Lac)</td>
                                <td rowspan="2">Procurement Method</td>
                                <td rowspan="2">Approving Authority</td>
                                <td rowspan="2">Date of Tender Invitation</td>
                                <td rowspan="2">Name of Newspaper</td>
                                <td rowspan="2">Date of Opening</td>
                                <td rowspan="2">Date of Approval</td>
                                <td rowspan="2">Date of NOA</td>
                                <td rowspan="2">Contract Price & Date</td>
                                <td rowspan="2">Actual Payment</td>
                                <td rowspan="1" colspan="2">Date of Completion</td>
                            </tr>
                            <tr>
                                <td>Package No</td>
                                <td>Description of Package</td>
                                <td>As per Contract</td>
                                <td>Actual</td>
                            </tr>
                            <tr>
                                <td>(1)</td>
                                <td>(2)</td>
                                <td>(3)</td>
                                <td>(4)</td>
                                <td>(5)</td>
                                <td>(6)</td>
                                <td>(7)</td>
                                <td>(8)</td>
                                <td>(9)</td>
                                <td>(10)</td>
                                <td>(11)</td>
                                <td>(12)</td>
                                <td>(13)</td>
                                <td>(14)</td>
                            </tr>
                            </tr>
                        </table>
                        <small>* Please mention Dates for Plan and Actual<br>* Deviation in days (difference between plan and actual)<br>* Plan as per procurement plan described in project document</small>
                    </div>


                </div>

                <br />

                <!-- Atachment Section -->
                <button onclick="pcrForm.unHideSubMenu('SecAttachment')" class="w3-button w3-block w3-theme-l1 w3-left-align"><span class="w3-border w3-padding-small">Attach</span> ATTACHMENT <small class="w3-right">Click to Open/Close</small></button>
                <div id="SecAttachment" class="w3-card w3-round w3-white w3-padding-small w3-hide">
                    <h4 class="w3-center">
                        <p><b>Add Attachment (PDF file only)</b>              <input type="file" id="attachment" accept=".pdf"></p>
                    </h4>
                </div>




                <div class="w3-bottom">
                    <div class="button-container">
                        <button class="w3-button w3-theme w3-round w3-text-white w3-padding-small w3-margin-right"
                                title="Save as Draft"
                                onclick="pcrForm.saveAsDraft()">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save as Draft
                        </button>
                    </div>
                </div>
                </div>

            
        </div>

        <!-- Buttons Section -->
        <footer class="border-top footer text-muted">
            
        </footer>
    </body>
</html>

