@* Author: *@
@* Souvik Das  *@
@* Assistant Programmer, BCC *@
@* BSc in CSE, BUET *@
@* PhD Student, Department of CSCE, Texas A&M University *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
 
    <h5 class="display-6">Project Completion Report Management System</h5>
    <br />
    <h1 class="display-4">Welcome to PCRMS</h1>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello, @User.FindFirst("Name")?.Value! Manage your projects from the navigation bar above.</p>
    }
    else
    {
        <p>Please <a asp-controller="Login" asp-action="Index">login</a> to access project management features.</p>
    }
</div>